<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="/static/home.js"></script>

    <!-- CSS -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/static/home.css" />

    <title>MIT Demographics</title>
  </head>
  <body style="font-family: Roboto; font-weight:10;background-image:url('MIT_Kresge_Auditorium.jpg'); background-size:100% auto; background-repeat: no-repeat;">

  <nav id="menu">
    <li><a id="school" class="active" href="#" style="padding: 11px 16px;">School</a></li>
    <li><a id="dorm" href="dorm.html">Dorm</a></li>
    <li><a id="floor" href="#floor">Floor</a></li>
    <li><a id="room" href="#room">Room</a></li>
    <li style="float:right; background-color: #4286f4;"><a href="#login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
    <li style="float:right"><a href="#about">About</a></li>
  </nav>

  <nav id="school-menu">
    <li><a id="school-gender" class="active" href="#gender">Gender</a></li>
    <li><a id="school-race" href="#dorm">Race</a></li>
    <li><a id="school-sexual-orientation" href="#sexual-orientation">Sexual Orientation</a></li>
    <li><a id="school-family-income" href="#family-income">Family Income</a></li>
    <li><a id="school-geolocation" href="#geolocation">Geolocation</a></li>
    <li><a id="school-course" href="#course">Course</a></li>
  </nav>

  <div class="col-sm-4" style="position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);opacity:1.0">
    <table id="studentEntryTable" class="table table-bordered table-condensed" style="border-color:black; position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);opacity:1.0">
      <thead>
        <tr>
          <td style="background-color:gray; text-align:center;"><b>Year</b></td>
          <td style="background-color:gray; text-align:center;"><b>Course</b></td>
        </tr> 
      </thead>
      <tbody id='studentEntryTableBody'>
        <tr>
          <td style="background-color:white; text-align:center;"><b>2017</b></td>
          <td style="background-color:white; text-align:center;"><b>8</b></td>
        </tr>
        <tr>
          <td style="background-color:white; text-align:center;"><b>2016</b></td>
          <td style="background-color:white; text-align:center;"><b>6</b></td>
        </tr>
        <tr>
          <td style="background-color:white; text-align:center;"><b>2015</b></td>
          <td style="background-color:white; text-align:center;"><b>10</b></td>
        </tr>
      </tbody>
    </table>
  </div> 

  </body>
</html>
